.main-container {
  display: flex;
  flex-direction: column;
}
.nav-container {
  position: fixed;
  /* position: absolute; */
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(79.09deg, #32b5f9 0%, #419ced 100%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  color: #fff;
  height: 80px;
  padding: 0 10px 0 25px;
  @media all and (max-width: 768px) {
    flex-direction: column;
    height: 100px;
  }
}
.nav2-container {
  position: fixed;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: linear-gradient(79.09deg, #32b5f9 0%, #419ced 100%); */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  color: #fff;
  height: 80px;
  padding: 0 10px 0 25px;
  @media all and (max-width: 768px) {
    flex-direction: column;
    height: 100px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content-guest {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-content-guest {
  display: block;
}
.dropdown:hover .button {
  background-color: #32b5f9;
  color: white;
}
.title {
  height: 45px;
  width: 150px;
  /* color: #ffffff; */
  color: #181818;
  font-family: Lato;
  font-size: 24px;
  font-weight: 500;
  line-height: 44px;
}

.search-field .search-title {
  font-size: 2rem;
  border: none;
}

.search-field .search-input {
  border: none;
}

.search-field { 
  border: none;
}

.filters-search-container {
  width: 100%;
  /* width: 50%; */
  /* position: fixed; */
  position: absolute;
  top: 80px;
  height: 70px;
  display: flex;
  z-index: -1;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #ffffff; */
  background-color: #fbfbfb;
  align-items: center;
  /* border-bottom: 1px solid #f0f0f0; */
}
.button {
  background-color: #ffffff; /* Green */
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  margin: 8px 20px;
  cursor: pointer;
  outline: none;
  height: 40px;
  width: 111px;
  border: 1px solid #7a7a7a;
  border-radius: 3px;
}

.filter-container {
  display: flex;
  flex-direction: row;
}
.search {
  width: 740px;
  border: none;
}
.card-container {
  width: 49vw;
  background-color: #fbfbfb;
  margin-top: 140px;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.card {
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  width: 44%;
  height: auto;
  margin-bottom: 20px;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  padding: 0;
  /* border-radius: 20px 20px 20px 20px; */
}

h7 {
  left: 10px;
}

h2 {
  padding-bottom: 4px;
  font-size: 1rem;
  margin: 10px 0 0;
}
.card__image {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center center;
  border-radius: 20px 20px 0 0;
}

.card__price {
  width: 70px;
  height: 44px;
  /* background-color: #41abf5; */
  background-color: #fd5c63;
  position: absolute;
  top: 160px;
  /* left: 0; */
  right: 0;
  color: #fafafa;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03rem;
  border-radius: 20px;
}
.card__info {
  color: #555;
  font-size: 14px;
  margin: 0;
  margin-bottom: 4px;
}
.result-stats {
  text-align: right;
  color: #666;
  font-size: 15px;
}
.map-container {
  z-index: 1;
  top: 160px;
  top: 80px;
  width: 740px;
  height: calc(100% - 52px);
  /* height: calc(100%); */
  position: fixed;
  right: 0;
  background-color: #fbfbfb;
}
.extra-info {
  display: none;
  position: absolute;
}

.popover {
  overflow-x: hidden;
  height: 290px;
  width: 240px;
}
.extra-info-container {
  padding-top: 20px;
  margin-top: 175px;
}
.name-container {
  font-weight: 900;
  font-size: 18px;
}
.type-container {
  text-transform: uppercase;
  font-weight: 500;
}
.price-container {
  font-weight: 400;
  font-size: 13px;
}
.image-container {
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
}
.info {
  margin-top: 3px;
}